.filter{
    border:2px solid white;
    background-color: white;
    border-radius: 3px;
    
    width:19%;
    margin:0 15px;
    
    color:rgb(90, 87, 87);
    box-shadow: 0 3px 8px 0 rgb(0 0 0 / 10%);
}
.filter_margin{
    margin:15px 0;
}
.filters{
    margin:8px 10px;
}
.title{
    font-size:20px;
    color:var(--filter_title-color);
}
.search_title{
    margin-top:10px;
    margin-bottom: 20px;
}
.search_title div{
    border: 1px solid rgb(130,130,130);
    padding: 3px;
    height: 5vh;
    margin-top: 12px;
    border-radius: 3px;
}
.search_title div i{
    float: right;
    font-size: 13px;
    margin-top: 7px;
    margin-right: 10px;
}
.filter_checkbox{
    margin:15px 0;
}
.filter_radio{
    margin:15px 0;
}
.filter_sort{
    margin:15px 0;
}
.filter_gender, .filter_price, .filter_category, .filter_size, .filter_brand, .filter_discount, .filter_occation, .filter_color, input{
    accent-color: rgb(231, 79, 95) ;
}
.more_color{
    color: rgb(231, 79, 95);
}

.filter_gender, .filter_price, .filter_category, .filter_size, .filter_brand, .filter_discount, .filter_occation, .filter_color span{
    margin-bottom: 3%;
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    
    .filter_gender, .filter_price, .filter_category, .filter_size, .filter_brand, .filter_discount, .filter_occation, .filter_color, input{
        font-size: 12px;
    }
    .filter{
        width: 100%;
    }

}


@media only screen and (min-width: 768px) and (max-width: 991px) {
    .filter_gender, .filter_price, .filter_category, .filter_size, .filter_brand, .filter_discount, .filter_occation, .filter_color, input{
        font-size: 13px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1440px){
   
   

}