.navbar{
    height: auto;
    background-color: white !important;
    margin-bottom: 10px;
    color: black;
   
 }
 .navbar div ul li a{
     color: black;
 }
 .navbar div ul li a:hover{
     color:black;
 }
 .postion_search{
     position: absolute;
     top: 25.5px;
     left: 37%;
     color:black;
 }
 /* .theme{
     color:var(--dark_light-color);
     font-size: 22px;
 } */




@media only screen and (min-width: 992px) and (max-width:1024px){
   .navbar{
       font-size: 10px;
   }
   .postion_search{
    top: 37%;
    left: 47%;
    font-size: 16px;
}
}

@media only screen and (min-width: 1025px) and (max-width:1180px){
    .postion_search{
        top: 37%;
        left: 47%;
        font-size: 16px;
    }
 }

 @media only screen and (min-width: 1134px) and (max-width:1240px){
    .postion_search{
        top: 37%;
        left: 43%;
    }
 }
@media only screen and (min-width: 1025px) and (max-width:1179px){
    .navbar{
        font-size: 12px;
    }
    .postion_search{
        top: 37%;
        left: 47%;
        font-size: 16px;
    }
 }

@media only screen and (min-width: 768px) and (max-width:991px){
  
    .postion_search{
        top: 44%;
        left: 94%;
    }
   
}

@media only screen and (min-width: 576px) and (max-width:767px) {
     
  .postion_search{
        top: 44%;
        left: 94%;
    }

   
  
    
}

@media only screen and (min-width: 320px) and (max-width:575px) {
    
   .postion_search{
    top: 44%;
    left: 88%;
}

   
}